<!DOCTYPE html>
<html>
 <head>
  <title>{{ title }}</title>
 </head>
 <body>
  <div>
   <h2>{{ title }}</h2>
  </div>
<!--  {% if top_pop_cities %} -->
   <div>
    <form action="{% url 'register:confirmation' %}" method="post">
     <!--Prevent cross site request forgeries-->
     {% csrf_token %}
     <!--
     E-mail Address
     <br />
     <input type="text" name="email_address" value="test@sample.com" />
     <br />
     <select name="next_city_pk">
      Location
      <br />
      {% for next_city in top_pop_cities %}
       <option value="{{ next_city.id }}">{{ next_city }}</option>
      {% endfor %}
     </select>
     <input type="submit" value="Submit" />
     -->
     {{ form }}
    </form>
   </div>
<!--  {% else %}
   <div>
    <p>No cities have been entered into the database.</p>
   </div>
  {% endif %}
-->
 </body>
</html>
