body {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 0.25em;
    margin-left: auto;
    margin-top: 10%;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

h2 {
    color: #003366;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin-left: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
}

h3 {
    color: red;
    font-family: Verdana, Geneva, sans-serif;
}

form {
    color: #003366;
    font-family: Verdana, Geneva, sans-serif;
}

label {
    display: block;
    color: #003366;
    margin-left: 20%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

label:after {
    content: "\a";
    white-space: pre;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

select {
    display: block;
    background-color: white;
    color: #003366;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;        
    width: 60%;
    border-style: solid;
    border-color: black;
    border-width: 0.25em;
}

input[type="email"] {
    display: block;
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;        
    width: 60%;
    border-style: solid;
    border-color: black;
    border-width: 0.25em;
}

input[type="submit"] {
    display: block;
    background-color: blue;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;    
    -moz-box-shadow: 4px 4px 0px 0px black;
    -webkit-box-shadow: 4px 4px 0px 0px black;
    box-shadow: 4px 4px 0px 0px black;
    border-style: solid;
    border-color: black;
    border-width: 0.25em;
}

p.result {
    color: #003366;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
}

/* font-style: normal; */
/* font-variant: normal;*/