
<!DOCTYPE html>
<!--[if IE 9]><html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js "> <!--<![endif]-->
	<head>
		<title>Weather History &amp; Data Archive | Weather Underground</title>
		<link href="//icons.wxug.com/" rel="dns-prefetch" />
		<link href="//api-ak.wunderground.com/" rel="dns-prefetch" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
<meta http-equiv="cleartype" content="on">
		<meta name="description" content="Weather Underground provides local & long range Weather Forecast, weather reports, maps & tropical weather conditions for locations worldwide." />
		<meta name="keywords" content="Weather, Weather Underground, Weather History &amp; Data Archive, forecasts, current conditions, rain, snow, hurricane, tornado, storm, thunderstorm, tropical storm, wundermap, ski conditions, ski report, surfing, marine, aviation, photographs, photos, severe weather" />
	<meta name="apple-itunes-app" content="app-id=486154808, affiliate-data=at=1010lrYB&ct=website_wu" />
<meta name="fb-app-id" content="325331260891611" />
<meta name="fb-channel-url" content="//www.wunderground.com/php/lib/fb_sdk/channel.php" />
<meta name="wui-member-logged-in" content="false" />
		<meta http-equiv="Refresh" content="900;URL=/history/airport/2017/01/29/DailyHistory.html?req_city=Austin&req_state=TX&reqdb.magic=1&regdb.wmo=99999&MR=1" />
		<link rel="canonical" href="https://www.wunderground.com/history/airport/2017/01/29/DailyHistory.html" />
	<link rel="apple-touch-icon" href="//icons.wxug.com/favicon.png"/>
	<link rel="shortcut icon" type="image/png" href="//icons.wxug.com/favicon.png"/>
	<link rel="stylesheet" href="//style.wxug.com/css/wu4/core.css?v=2015072702">
	<link rel="stylesheet" href="//style.wxug.com/css/wu4/omnibus.css?v=2017012603">
	<link rel="stylesheet" href="//style.wxug.com/css/wu4/history.css?v=2015100201" />
	<script src="//js-sec.indexww.com/ht/ls-wunderground.js" async></script>
	<script src="//icons.wxug.com/scripts/modernizr/2.8.2/modernizr.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script src="//icons.wxug.com/scripts/wui-js/2.0.1/wui.min.js"></script>
		<script src="//icons.wxug.com/scripts/wui.login.min.js?v=1.3.18"></script>
	</head>
	<body class="standard History-HistoryIndex city-page  ">
		<div id="content-wrap" class="relative right-side-nav">
		<nav id="feature-menu-mobile" class="sidebar">
  <div class="sidebar-wrapper">
  <ul class="side-main-nav nav-bar">
  <li>
  <a href="/login.asp">Log in</a>
  </li>
  <li>
  <a href="/member/registration">Join</a>
  </li>
  </a>
  <ul class="sideSubNav">
  <li class="sideGoBack"><a href="javascript:void(0);"></a></li>
  <li class="sidebar-heading no-link">
  Bonjour &#33;
</li>
<li>
  <a href="/community/mail.asp" id="wuMailGot">
  WU Mail
  </a>
</li>
<li><a href="/member/membersettings.html">Member Settings</a></li>
<li><a href="/email/mainmenu.php">My Email &amp; Text Alerts</a></li>
<li><a href="/webcams/signup.html" class="brBot3">My Webcams</a></li>
<li><a href="/email/logout.php">Sign Out</a></li>
  </ul>
  </li>
  <li class="gotMore">
  <a href="#">
  <i class="fi-widget sidebar-icon"></i> Settings
  </a>
  <ul class="sideSubNav">
  <li class="sideGoBack"><a href="javascript:void(0);">Settings</a></li>
  <ul class="button-group toggle radius">
  <li><a onclick="wui.SetUnitToEnglish()" title="Switch to English" class="button selected">&deg;F</a></li>
  <li><a onclick="wui.SetUnitToMetric()" title="Switch to Metric" class="button ">&deg;C</a></li>
</ul>
<ul class="button-group radius toggle compact forecast-type">
  <li><a href="/cgi-bin/findweather/getForecast?setpref=EXPFCT&value=1&referer=%2fhistory%2fairport%2f2017%2f01%2f29%2fDailyHistory%2ehtml%3freq%5fcity%3dAustin%26req%5fstate%3dTX%26reqdb%2emagic%3d1%26regdb%2ewmo%3d99999" title="Use BestForecast" class="button selected" onclick="_gaq.push(['_trackEvent', 'Forecast Toggle', 'Click', 'BestForecast']);">BestForecast</a></li>
  <li><a href="/cgi-bin/findweather/getForecast?setpref=EXPFCT&value=0&referer=%2fhistory%2fairport%2f2017%2f01%2f29%2fDailyHistory%2ehtml%3freq%5fcity%3dAustin%26req%5fstate%3dTX%26reqdb%2emagic%3d1%26regdb%2ewmo%3d99999" title="Use NWS" class="button " onclick="_gaq.push(['_trackEvent', 'Forecast Toggle', 'Click', 'NWS']);">NWS</a></li>
</ul>
<p><a href="/about/data.asp#differences">What's the difference?</a></p>
  </ul>
  </li>
  <li class="gotMore">
  <a href="javascript:void(0);" class="maps">Maps & Radar</a>
  <ul class="sideSubNav">
  <li class="sideGoBack"><a href="javascript:void(0);">Maps & Radar</a></li>
  <li><a href="/weather-radar/" title="Radar Maps">Radar Maps</a></li>
  <li><a href="/wundermap/?radar=1">Interactive Radar</a></li>
  <li><a href="/wundermap/?sat=1">Interactive Satellite</a></li>
  <li><a href="/wundermap/" title="WunderMap">WunderMap</a></li>
  <li><a href="/maps/" title="Current Conditions Maps">Current Conditions Maps</a></li>
  <li><a href="/ndfdimage/viewimage/" title="Forecast Maps">Forecast Maps</a></li>
		<li><a href="/maps/catalog/" title="All Maps Catalog">Maps Catalog</a></li>
  </ul>
  </li>
  <li class="gotMore">
  <a href="javascript:void(0);" class="severe">Severe Weather</a>
  <ul class="sideSubNav">
  <li class="sideGoBack"><a href="javascript:void(0);">Severe Weather</a></li>
  <li><a href="/severe.asp" title="U.S. Severe Weather Map">U.S. Severe Weather Map</a></li>
  <li><a href="/severe/europe.asp" title="Europe Severe Weather Map">Europe Severe Weather Map</a></li>
  <li><a href="/hurricane/" title="Hurricane &amp; Tropical Cyclones">Hurricane &amp; Tropical Cyclones</a></li>
  <li><a href="/severeconvective.asp" title="Convective Outlook">Convective Outlook</a></li>
		<li><a href="/wundermap?fire=1" title="Wildfires">Wildfires</a></li>
  <li><a href="/prepare/" title="Preparedness">Preparedness</a></li>
  <li><a href="/email/emailsettings.asp" title="Weather Alerts">Weather Alerts</a></li>
  </ul>
  </li>
  <li class="gotMore">
  <a href="javascript:void(0);" class="news">News &amp; Blogs<span class="new-badge-text-only live twiw">LIVE!</span></a>
  <ul class="sideSubNav">
  <li class="sideGoBack"><a href="javascript:void(0);">News &amp; Blogs</a></li>
  <li><a href="/blog/JeffMasters/show.html" title="Category 6&trade;">Category 6&trade;</a></li>
  <li><a href="/blog/" title="WunderBlog&reg; Directory">WunderBlog&reg; Directory</a></li>
  <li><a href="/news/" title="Recent News Stories">Recent News Stories</a></li>
  <li><a href="/weather-infographics/" title="Weather Infographics">Weather Infographics</a></li>
  <li><a href="/weather-posters/" title="Weather Posters">Weather Posters</a></li>
  </ul>
  </li>
  <li class="gotMore">
  <a href="javascript:void(0);" class="photos">Photos &amp; Video</a>
  <ul class="sideSubNav">
  <li class="sideGoBack"><a href="javascript:void(0);">Photos &amp; Video</a></li>
  <li><a href="/wximage/" title="WunderPhotos">WunderPhotos</a></li>
  <li><a href="/webcams/" title="Webcams">Webcams</a></li>
  <li><a href="/video/" title="Videos">Videos</a></li>
  <li><a href="/wutv/" title="WUTV">WUTV</a></li>
  </ul>
  </li>
  <li><a href="/history/" class="history" title="Historical Weather">Historical Weather</a></li>
  <li class="gotMore">
  <a href="javascript:void(0);" class="activities">Activities</a>
  <ul class="sideSubNav">
		<li class="sideGoBack"><a href="javascript:void(0);">Activities</a></li>
		<li><a href="/ski/" title="Ski &amp; Snow Reports">Ski &amp; Snow Reports</a></li>
		<li><a href="/marine-weather/" title="Marine Weather">Marine Weather</a></li>
		<li><a href="/Aviation_Maps/" title="Aviation">Aviation</a></li>
  </ul>
  </li>
  <li>
  <a href="/sitemap/" class="browse">Site Map</a>
  </li>
  </ul>
  <ul class="sidebar-footer">
		<li><a href="/weatherstation/about.asp" title="Personal Weather Station Network">Personal Weather Station Network</a></li>
		<li><a href="/download" title="Weather Underground Mobile Apps">Mobile Apps</a></li>
		<li><a href="/weather/api/" title="Weather API for Developers">Weather API for Developers</a></li>
  </ul>
  </div>
</nav>
		<div class="header-ad-wrap">
	<center class="clearfix">
		<div id="WX_WindowShade">
		<div id="div-gpt-ad-615639597871654305-top" class="ad-box window-shade no-well">
		</div>
		<div class="ad-nav">
		<div class="pubnation ad-link" data-target="div-gpt-ad-615639597871654305-top" style="visibility: hidden;">report this ad</div>
		<div class="ad-link window-shade no-well"> | </div>
		<div class="ad-link window-shade no-well" data-reveal-id="why-ads-modal">why ads?</div>
		</div>
		</div>
	</center>
		</div>
		<nav class="topbar">
	<div id="global-header" class="new-wu">
		<a href="javascript:void(0);" id="sidebarButton" class="right-off-canvas-toggle"><span class="fi-list-wrap"><i class="fi-list"></i></span></a>
		<a href="/" id="header-logo" class="logo" title="Weather Underground (10.226.243.3)"></a>
		<nav id="feature-menu" class="feature-menu">
  <ul class="menu-list">
	 <li>
		<label class="maps">Maps & Radar</label>
		<ul class="menu-list">
		<li><a href="/weather-radar/" title="Radar Maps">Radar Maps</a></li>
  <li><a href="/wundermap/?radar=1">Interactive Radar</a></li>
  <li><a href="/wundermap/?sat=1">Interactive Satellite</a></li>
		<li><a href="/wundermap/" title="WunderMap">WunderMap</a></li>
		<li><a href="/maps/" title="Current Conditions Maps">Current Conditions Maps</a></li>
		<li><a href="/ndfdimage/viewimage/" title="Forecast Maps">Forecast Maps</a></li>
		<li><a href="/maps/catalog/" title="All Maps Catalog">Maps Catalog</a></li>
		</ul>
	 </li>
	 <li>
		<label class="severe">Severe Weather</label>
		<ul class="menu-list">
		<li><a href="/severe.asp" title="U.S. Severe Weather Map">U.S. Severe Weather Map</a></li>
		<li><a href="/severe/europe.asp" title="Europe Severe Weather Map">Europe Severe Weather Map</a></li>
		<li><a href="/hurricane/" title="Hurricane &amp; Tropical Cyclones">Hurricane &amp; Tropical Cyclones</a></li>
		<li><a href="/severeconvective.asp" title="Convective Outlook">Convective Outlook</a></li>
		<li><a href="/wundermap?fire=1" title="Wildfires">Wildfires</a></li>
		<li><a href="/prepare/" title="Preparedness">Preparedness</a></li>
		<li><a href="/weather-alerts/" title="Weather Alerts">Text/Email Alerts</a></li>
		</ul>
	 </li>
	 <li>
		<label class="news">News &amp; Blogs<span class="new-badge-text-only live twiw">LIVE!</span></label>
		<ul class="menu-list">
		<li><a href="/blog/JeffMasters/show.html" title="Category 6&trade;">Category 6&trade;</a></li>
		<li><a href="/blog/" title="WunderBlog&reg; Directory">WunderBlog&reg; Directory</a></li>
		<li><a href="/news/" title="Recent News Stories">Recent News Stories</a></li>
		<li><a href="/weather-infographics/" title="Weather Infographics">Weather Infographics</a></li>
		<li><a href="/weather-posters/" title="Weather Posters">Weather Posters</a></li>
		</ul>
	 </li>
	 <li>
		<label class="photos">Photos &amp; Video</label>
		<ul class="menu-list">
		<li><a href="/wximage/" title="WunderPhotos">WunderPhotos</a></li>
		<li><a href="/webcams/" title="Webcams">Webcams</a></li>
		<li><a href="/video/" title="Videos">Videos</a></li>
		<li><a href="/wutv/" title="WUTV">WUTV</a></li>
		</ul>
	 </li>
	 <li>
		<label class="activities">Activities</label>
		<ul class="menu-list">
		<li><a href="/ski/" title="Ski &amp; Snow Reports">Ski &amp; Snow Reports</a></li>
		<li><a href="/marine-weather/" title="Marine Weather">Marine Weather</a></li>
		<li><a href="/Aviation_Maps/" title="Aviation">Aviation</a></li>
		</ul>
	 </li>
	 <li><a href="/history/">Historical Weather</a></li>
	 <li><a href="/weatherstation/about.asp" title="Personal Weather Station Network">Personal Weather Station Network</a></li>
	 <li><a href="/personal-weather-station/signup" title="Register Your Personal Weather Station">Register Your PWS</a></li>
  <li><a href="http://wundergroundstore.com" title="Weather Underground Store">WU Store</a></li>
	 <li><a href="/download" title="Weather Underground Mobile Apps">Mobile Apps</a></li>
  <li><a href="/printer/cityforecast.asp" title="Daily Forecast Flyer">Daily Forecast Flyer</a></li>
	 <li><a href="/weather/api/" title="Weather API for Developers">Weather API for Developers</a></li>
	 <li><a href="/sitemap/" title="Site Map">Site Map</a></li>
  </ul>
</nav>
		<div id="wuForm-contain" class="wu-form-contain">
		<form action="/cgi-bin/findweather/getForecast" name="wxsearch" id="wuForm" class="wu-form ui-front">
		<div id="wuSearch-contain" class="wu-search-contain">
		<input type="search" name="query" value="" id="wuSearch" class="wu-search" placeholder="Search Locations" data-autoinitialize="true" />
		<span class="close-search">
		<i class="fi-x-circle"></i>
		</span>
		<span class="geolocate-wrap">
		<i class="fi-target-two"></i>
		</span>
		</div>
		</form>
		</div>
		<div class="hide-for-small">
		<p class="wu-account" id="wuAccount"><a id="wu-member" href="/login.asp">Log in</a> | <a id="wu-member" href="/member/registration">Join</a></p>
		</a>
		<a href="#" data-dropdown="wuSettings-quick" id="wuSettings" class="wu-settings">
		<i class="fi-widget"></i>
		</a>
		</div>
		<div id="wuSettings-quick" data-dropdown-content class="wu-settings-quick f-dropdown content" >
		<ul class="button-group toggle radius">
  <li><a onclick="wui.SetUnitToEnglish()" title="Switch to English" class="button selected">&deg;F</a></li>
  <li><a onclick="wui.SetUnitToMetric()" title="Switch to Metric" class="button ">&deg;C</a></li>
</ul>
<ul class="button-group radius toggle compact forecast-type">
  <li><a href="/cgi-bin/findweather/getForecast?setpref=EXPFCT&value=1&referer=%2fhistory%2fairport%2f2017%2f01%2f29%2fDailyHistory%2ehtml%3freq%5fcity%3dAustin%26req%5fstate%3dTX%26reqdb%2emagic%3d1%26regdb%2ewmo%3d99999" title="Use BestForecast" class="button selected" onclick="_gaq.push(['_trackEvent', 'Forecast Toggle', 'Click', 'BestForecast']);">BestForecast</a></li>
  <li><a href="/cgi-bin/findweather/getForecast?setpref=EXPFCT&value=0&referer=%2fhistory%2fairport%2f2017%2f01%2f29%2fDailyHistory%2ehtml%3freq%5fcity%3dAustin%26req%5fstate%3dTX%26reqdb%2emagic%3d1%26regdb%2ewmo%3d99999" title="Use NWS" class="button " onclick="_gaq.push(['_trackEvent', 'Forecast Toggle', 'Click', 'NWS']);">NWS</a></li>
</ul>
<p><a href="/about/data.asp#differences">What's the difference?</a></p>
		<a href="/member/membersettings.html?page=prefs" id="wuSettings-more" class="wu-settings-more">More Settings</a>
		</div>
	</div>
</nav>
<script type="text/template" id="autocomplete_item_template">
	<% var defcon = (item.condition && item.condition.defcon) || 0; %>
	<% if (item.task=='geolocate') { %>
		<li class="geolocate-button"><div class="mimic-a"><span class="location-icon"><i class="fi-target-two"></i></span><%= item.name %></div></li>
	<% } else if (item.task=='headerGeolocate') { %>
		<li class="ui-autocomplete-geolocate"><div class="mimic-a menu-geolocate"><i class="fi-target-two"></i><%= item.name %></div></li>
	<% } else { %>
		<li class="needsclick needsfocus <% if (isCity) { %>is-city<% } %><% if (isFav) { %> is-fav<% } %><% if (hasConds && item.condition.severe) { %> is-severe defcon-<%= defcon %><% } %><% if (hasConds) { %> has-conds<% } %>">
		<a class="needsclick needsfocus">
		<% if (item.label) { %><span class="needsclick needsfocus city-name"><%= item.label %> <i class="needsclick needsfocus fi-<% if (defcon > 4) { %>info<% } else { %>alert<% } %>"></i></span><% } %>
		<% if (hasConds) { %>
		<span class="needsclick needsfocus city-conds">
		<%= item.condition.temperature %> &deg;F <%= item.condition.condition %>
		</span>
		<span class="needsclick needsfocus cond-icon-touch cond-set-<%= item.condition.iconPref %> cond-<%= item.condition.icon %>"></span>
		<% } %>
		<% if (isCity) { %><span class="needsclick needsfocus city-star" title="<% if (isFav) { %>Remove From<% } else { %>Add To<% } %> Favorite Cities"></span><% } %>
		</a>
		</li>
	<% } %>
</script>
		<div id="inner-wrap">
		<div id="header-alert-bar" class="loading-bar"></div>
		<div class="favs-wrapper">
	<div id="favorites" class="favorites ">
		<div class="favorites-bar"></div>
		<input type="button" class="favorites-list-toggle" value="&#x25BC;" data-dropdown="favorites-list" />
		<div class="favorites-list f-dropdown" data-dropdown-content id="favorites-list"></div>
	</div>
</div>
<script type="text/template" id="favorites-city-template">
	<%
		var options = options || {};
		var isCity = true;
		var isFav = wui.favorites.is(city.zmw);
		var isHome = ''==city.zmw?true:false;
		//hasConds: (options.showConditions && !!(item.condition))
		var hasConds = !!(city.condition);
		var defcon = hasConds && city.condition.defcon ? city.condition.defcon : 5;
	%>
	<li class="<% if (isCity) { %>is-city<% } %><% if (isFav) { %> is-fav<% } %><% if (hasConds && city.condition.severe) { %> is-severe defcon-<%= defcon %><% } %><% if (hasConds) { %> has-conds<% } %>" <% if (isCity) { %>data-zmw="<%= city.zmw %>" data-cityName="<%= city.name %>" <% } %>>
		<% if (options.label) { %><label><%= options.label %></label><% } %>
		<a href="<%= city.url %>/zmw:<%= city.zmw %>">
		<span class="city-name"><%= city.name %> <i class="fi-<% if (defcon > 4) { %>info<% } else { %>alert<% } %>"></i></span>
		<% if (hasConds) { %>
		<span class="city-conds">
		<%= city.condition.temperature %> &deg;F <%= city.condition.condition %>
		</span>
		<span class="cond-icon-touch cond-set-<%= city.condition.iconPref %> cond-<%= city.condition.icon %>"></span>
		<% } %>
		<% if (isCity) { %><span class="city-star" title="<% if (isFav) { %>Remove From<% } else { %>Add To<% } %> Favorite Cities"></span><% } %>
		<% 
				//removing home button from list now that we have location management on the page - dxf
				if (isCity && 0) { 	
			%><span class="city-home <% if (isHome) { %> active <% }  %>" title="Set this as your Home City"</span><% } %>
  </a>
	</li>
</script>
<script type="text/template" id="favorites-bar-template">
	<ul class="no-bullet">
		<li><a href="/member/membersettings.html?page=favorites" title="Manage Favorites"><i class="fi-star"></i></a></li>
		<%
			if(favorites.length > 0) {
		_.each(favorites, function(city) {
		print(templateCity({
		city: city
		}));
		});
		} else {
		try {
		if(favCityList) {
		%>
		<li><a>Loading favorites...</a></li>
		<%
				}} catch(e) {}
			} %>
		<%
			if(favorites.length == 0) {
			%>
		<li class="popularCities-label">Popular <br/>Cities</li>
		<%
				_.each(popular, function(city, i) {
					print(templateCity({
						city: city,
					}));
				});
			} 
			%>
	</ul>
</script>
<script type="text/template" id="favorites-list-template">
	<label>Popular Cities</label>
	<ul class="list-recents">
		<% _.each(popular, function(city) {
			print(templateCity({
				city: city
			}));
		}); %>
	</ul>
</script>
		<section id="inner-content" class="inner-content" role="main">
		<h1>Historical Weather</h1>
<div id="history-station-search-row">
	<div class="location-date-column">
		<form action="/cgi-bin/findweather/getForecast" method="get" id="trip">
		<input type="hidden" value="query" name="airportorwmo" />
		<input type="hidden" value="DailyHistory" name="historytype" />
		<input type="hidden" value="/history/index.html" name="backurl" />
		<p>Find historical weather by searching for a city, zip code, or airport code. Include a date for which you would like to see weather history. You can select a range of dates in the results on the next page.</p>
		<div class="input-title">Location:</div>
		<input type="text" value="" placeholder="City, State or ZIP Code, or Airport Code" name="code" id="histSearch" maxlength="300" size="40" />
		<div class="input-title date">Date:</div>
		<div class="history-date-select">
		<select class="month" name="month">
		<option selected="selected" value="1">January</option>
		<option  value="2">February</option>
		<option  value="3">March</option>
		<option  value="4">April</option>
		<option  value="5">May</option>
		<option  value="6">June</option>
		<option  value="7">July</option>
		<option  value="8">August</option>
		<option  value="9">September</option>
		<option  value="10">October</option>
		<option  value="11">November</option>
		<option  value="12">December</option>
		</select>
		<select class="day" name="day">
		<option >1</option>
		<option >2</option>
		<option >3</option>
		<option >4</option>
		<option >5</option>
		<option >6</option>
		<option >7</option>
		<option >8</option>
		<option >9</option>
		<option >10</option>
		<option >11</option>
		<option >12</option>
		<option >13</option>
		<option >14</option>
		<option >15</option>
		<option >16</option>
		<option >17</option>
		<option >18</option>
		<option >19</option>
		<option >20</option>
		<option >21</option>
		<option >22</option>
		<option >23</option>
		<option >24</option>
		<option >25</option>
		<option >26</option>
		<option >27</option>
		<option >28</option>
		<option >29</option>
		<option selected>30</option>
		<option >31</option>
		</select>
		<select class="year" name="year">
		<option selected="selected">2017</option>
		<option >2016</option>
		<option >2015</option>
		<option >2014</option>
		<option >2013</option>
		<option >2012</option>
		<option >2011</option>
		<option >2010</option>
		<option >2009</option>
		<option >2008</option>
		<option >2007</option>
		<option >2006</option>
		<option >2005</option>
		<option >2004</option>
		<option >2003</option>
		<option >2002</option>
		<option >2001</option>
		<option >2000</option>
		<option >1999</option>
		<option >1998</option>
		<option >1997</option>
		<option >1996</option>
		<option >1995</option>
		<option >1994</option>
		<option >1993</option>
		<option >1992</option>
		<option >1991</option>
		<option >1990</option>
		<option >1989</option>
		<option >1988</option>
		<option >1987</option>
		<option >1986</option>
		<option >1985</option>
		<option >1984</option>
		<option >1983</option>
		<option >1982</option>
		<option >1981</option>
		<option >1980</option>
		<option >1979</option>
		<option >1978</option>
		<option >1977</option>
		<option >1976</option>
		<option >1975</option>
		<option >1974</option>
		<option >1973</option>
		<option >1972</option>
		<option >1971</option>
		<option >1970</option>
		<option >1969</option>
		<option >1968</option>
		<option >1967</option>
		<option >1966</option>
		<option >1965</option>
		<option >1964</option>
		<option >1963</option>
		<option >1962</option>
		<option >1961</option>
		<option >1960</option>
		<option >1959</option>
		<option >1958</option>
		<option >1957</option>
		<option >1956</option>
		<option >1955</option>
		<option >1954</option>
		<option >1953</option>
		<option >1952</option>
		<option >1951</option>
		<option >1950</option>
		<option >1949</option>
		<option >1948</option>
		<option >1947</option>
		<option >1946</option>
		<option >1945</option>
		</select>
</div>
		<input type="submit" value="Submit" class="button radius" />
		</form>
		<script language="javascript" type="text/javascript">
		jQuery(document).ready(function(){
		var a = new wui.autocomplete({
		input:"#histSearch",
		autosubmit: false,
		isMainSearchBox: false
		});
		});
		</script>
		<div>&nbsp;</div>
	</div>
	<div class="ad-column">
		<div class="adBox">
	<center class="clearfix">
		<div id="div-gpt-ad-615639597871654305-2" class="ad-box compact-medium align-top">
		</div>
		<a href="/member/registration" class="ads-blocked hide">
		<img class="blocker-banner" data-src="//icons.wxug.com/i/o/adsblocked" alt="Ad Blocker Enabled">
		</a>
		<div class="ad-nav">
		<div class="pubnation ad-link" data-target="div-gpt-ad-615639597871654305-2" style="visibility: hidden;">report this ad</div>
		<div class="ad-link compact-medium align-top"> | </div>
		<div class="ad-link compact-medium align-top" data-reveal-id="why-ads-modal">why ads?</div>
		</div>
	</center>
		</div>
	</div>
</div>
	<center class="clearfix">
		<div id="div-gpt-ad-615639597871654305-bot" class="ad-box compact-leader no-mobile">
		</div>
		<div class="ad-nav">
		<div class="pubnation ad-link" data-target="div-gpt-ad-615639597871654305-bot" style="visibility: hidden;">report this ad</div>
		<div class="ad-link compact-leader no-mobile"> | </div>
		<div class="ad-link compact-leader no-mobile" data-reveal-id="why-ads-modal">why ads?</div>
		</div>
	</center>
		</section>
		<footer class="primary">
	<div class="row">
		<div class="small-12 large-6 large-centered columns">
		<div class="row">
		<div class="small-12 medium-4 columns">
		<ul class="no-bullet">
		<li><a href="/about/our-company" title="About Weather Underground">About</a></li>
		<li><a href="/about/contact-us" title="Contact Weather Underground">Contact</a></li>
		<li><a href="http://careers.weather.com/search/?q=&locationsearch=san+francsico?utm_source=careersite&utm_campaign=wunderground" target="_blank" title="Weather Underground Employment Opportunities">Jobs</a></li>
		<li><a href="http://www.theweathercompany.com/newsroom" target="_blank" title="Weather Underground In The News">News</a></li>
		</ul>
		</div>
		<div class="small-12 medium-4 columns">
		<ul class="no-bullet">
		<li><a href="/download" title="Weather Underground Mobile Apps">Our Apps</a></li>
		<li><a href="/weather/api" title="The Weather API">Weather API</a></li>
		<li><a href="/fullscreenweather" title="Experience Full Screen Weather">Full Screen Weather</a></li>
		<li><a href="/weatherstation/" title="Personal Weather Station Network">Personal Weather Stations</a></li>
		</ul>
		</div>
		<div class="small-12 medium-4 columns">
		<ul class="no-bullet">
		<li><a href="/sitemap/" title="Weather Underground Site Map">Site Map</a></li>
		<li><a href="http://help.wunderground.com/" target="_blank" title="Customer Feedback for Weather Underground">Feedback</a></li>
		<li><a href="/legal" title="Privacy Statement">Privacy</a></li>
		<li><a href="/ad-choices" class="ad-choices">AdChoices</a></li>
		</ul>
		</div>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="columns copyright-wrap">
		<p class="copyright">
		&copy; Copyright 2017 The Weather Company, LLC
		</p>
		</div>
	</div>
</footer>
<a class="exit-off-canvas"></a>
		</div>
		<div id="why-ads-modal" class="reveal-modal small-modal" data-reveal aria-hidden="true" role="dialog">
  <p>Ads help us bring you the weather for free. We want to be able to continue building great weather products for everyone.</p>
  <p>
  For less than a dollar a month ($10/yr) you can sign up for a premium membership and remove ads.
  </p>
  <p class="text-center">
  <a href="/member/registration" class="button medium radius">Remove Ads</a>
  </p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
		</div>
<script>
	wui.bootstrapped = {
		iconPath: "i/c/v4",
		"localtime": {
  "epoch": null,
  "pretty": null,
  "rfc822": null,
  "iso8601": null,
  "year": null,
  "month": null,
  "day": null,
  "yday": null,
  "hour": null,
  "min": null,
  "sec": null,
  "monthname": null,
  "monthname_short": null,
  "weekday": null,
  "weekday_short": null,
  "ampm": null,
  "tz_short": null,
  "tz_long": null,
  "tz_offset_text": null,
  "tz_offset_hours": null
},
		"usertime": {
  "epoch": 1485828873,
  "pretty": "2:14 AM GMT on January 31, 2017",
  "rfc822": "Tue, 31 Jan 2017 02:14:33 +0000",
  "iso8601": "2017-01-31T02:14:33+0000",
  "year": 2017,
  "month": 1,
  "day": 31,
  "yday": 30,
  "hour": 2,
  "min": "14",
  "sec": 33,
  "monthname": "January",
  "monthname_short": "Jan",
  "weekday": "Tuesday",
  "weekday_short": "Tue",
  "ampm": "AM",
  "tz_short": "GMT",
  "tz_long": "UTC",
  "tz_offset_text": "+0000",
  "tz_offset_hours": 0.00
},
		search: "", //Used for Wundermap autocomplete initialization
		async: false,
		https: false,
		smurfs: false,
		showUstreamTDU: false,
		showDailyDownpourTDU: false,
		showSurveyBanner: false,
		showVoteHook: false,
		daysToElection: "-22",
	 showPrivacyBanner: false,
		dailyDownpourText: '',
		showBOM: false,
		//These scripts are interacted with via scriptUsher.js, located in wui-js
		scripts: {
		amazon_bid: {
		url: "//aax.amazon-adsystem.com/e/dtb/bid?src=1004&u="+encodeURIComponent(document.location)+"&cb="+Math.round(1e7 * Math.random()),
		promise: null,
		timeout: 500
		},
		lotame_ads: {
		url :"//ad.crwdcntrl.net/5/c=2215/pe=y/callback=?",
		dataType : "jsonp",
		promise: null,
		timeout: 500
		},
		wfxtriggers: {
		url:"//triggers1.wfxtriggers.com/json/?resp_type=json&acctid=" + (window.innerWidth > 990 ? "B1CC73" : "5B3739") + "&current=true&df=1,2,3&zcs=&nzcs=",
		dataType : "jsonp",
		promise: null,
		timeout: 500
		},
		'amp.premier': {
		url: '/amp.premier/amp.premier.min.js',
		done: function() {
		akamai.amp.AMP.loadDefaults('/amp.premier/amp.premier.xml');
		}
		},
		googlemaps: {
		url: "//maps.googleapis.com/maps/api/js?sensor=false&client=gme-theweatherchannel&channel=CityPage&libraries=geometry&" +
		"callback=wui.bootstrapped.scripts.googlemaps.callback",
		promise: null,
		callback: function() {
		wui.bootstrapped.scripts.googlemaps.promise.resolve();
		}
		},
		mapbox: {
		url: "//api.mapbox.com/mapbox.js/v2.2.2/mapbox.js?",
		promise: null
		},
		mosaicmap: {
		//url: "//icons.wxug.com/wxmapsdk/1.1.2/wx.js?apiKey=abcdefghijklmnopqrstuvwxyz0123456789&",
		url: "//icons.wxug.com/scripts/wxmapsdk/1.5.0/wx.js",
		promise: null
		},
		mosaicwundermap: {
  url: "//icons.wxug.com/scripts/mosaicmap/1.2.0/wui.mosaicmap.min.js",
		promise: null
		},
		infobox: {
		url: "/scripts/wundermap/src/wu4/stable/gmap_util_lib/infobox_packed.js?v=3.5.20",
		promise: null
		},
		'jquery-cookie': {
		url: "//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js",
		promise: null
		},
		tealium: {
		url: "//tags.tiqcdn.com/utag/weather/wunderground/prod/utag.js",
		promise: null
		},
		wundermap: {
		// SHH TODO: Update SERVERCONFIG, then reference SERVERCONFIG.WunderMap.Version.release
		url: "//icons.wxug.com/scripts/wundermap/release/8.1.2/wundermap.min.js?v=1.3",
		promise: null
		},
		angularStationselect: {
		url: '//icons.wxug.com/scripts/angular/1.3.1/angular.min.js',
  promise: null,
		done: function() {
  var stationselect_promise = null;
  stationselect_promise = wui.usher.loadScript('stationselect');
		}
		},
		stationselect: {
		url: "//icons.wxug.com/scripts/wui-station-select/0.0.4/wui.ngstationselect.min.js",
		promise: null,
  done: function() {
  var temp = angular.bootstrap(document, ["wu_station_select"]);
  var count = 0;
  var timeout = setInterval(function() {
  count++;
  if(count>10){
  clearInterval(timeout);
  }
  else if (temp) {
  angular.element('#station-select-button-ng').triggerHandler('click');
  clearInterval(timeout);
  }
  }, 1000);
  }
		},
		}
	};
</script>
<script>
	wui.bootstrapped.scripts.wundermap.promise = jQuery.Deferred().resolve();
	wui.bootstrapped.scripts.googlemaps.promise = jQuery.Deferred().resolve();
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.time.min.js"></script>
<script src="//icons.wxug.com/scripts/backbone-nested/1.1.2/backbone-nested.min.js"></script>
<script src="//icons.wxug.com/scripts/foundation/5.2.2-patch/foundation.equalizer.min.js"></script>
<script src="//icons.wxug.com/scripts/responsive-tables.js?v=2"></script>
	<script src="//icons.wxug.com/scripts/pubnation.js"></script>
	<script src="//icons.wxug.com/scripts/wui-whyads/advert.js?0.0.3"></script>
	<script src="//icons.wxug.com/scripts/wui-sitewide/2.2.0/wui.sitewide.min.js"></script>
	<script src="//icons.wxug.com/scripts/wui-backbone/1.6.0/wui.backbone.min.js"></script>
<script>
wui.bootstrapped.prefs = {
	'selected_pws': "",
	'CP_FCTTAB': null,
	'CP_VAR_dp': null,
	'CP_VAR_fl': null,
	'CP_VAR_temp': null,
	'CP_VAR_cc': null,
	'CP_VAR_pop': null,
	'CP_VAR_h': null,
	'CP_VAR_p': null,
	'CP_VAR_wspd': null,
	'CP_VAR_qpf': null,
	'CP_VAR_precip': null,
	'EXPFCT': "1",
	'RADARBOX': null,
	'RADARBOX_WEBCAM': null,
	'GMAPTYPE': '',
	'GMAPUNITS': '',
	'iconset': '',
	'LangCode': 'EN',
	'BrowserCode': 'en_US',
	'Units': 'english',
	'raw_string': '',
  'fodqa' : false,
	'rapidfire': '10'
};
</script>
<script>
wui.bootstrapped.ajax_favorites = true; //added for wundermap favorites layer loading
wui.bootstrapped.citylist = "";
//wui.bootstrapped.citylist = "";
</script>
<script>
wui.bootstrapped.recents = [];
</script>
<script>
wui.bootstrapped.popular=[
	{
	url: "///",
	"lat": null,
	"lon": null,
	"name": "New York, NY",
	"type": "popular",
	"zmw": "10001.5.99999"
		},
	{
	url: "///",
	"lat": null,
	"lon": null,
	"name": "London, UK",
	"type": "popular",
	"zmw": "00000.1.03772"
		},
	{
	url: "///",
	"lat": null,
	"lon": null,
	"name": "Chicago, IL",
	"type": "popular",
	"zmw": "60290.1.99999"
		},
	{
	url: "///",
	"lat": null,
	"lon": null,
	"name": "Boston, MA",
	"type": "popular",
	"zmw": "02101.1.99999"
		},
	{
	url: "///",
	"lat": null,
	"lon": null,
	"name": "Houston, TX",
	"type": "popular",
	"zmw": "77001.1.99999"
		},
	{
	url: "///",
	"lat": null,
	"lon": null,
	"name": "San Francisco, CA",
	"type": "popular",
	"zmw": "94101.1.99999"
		},
	];
if(!wui.bootstrapped.favorites) {
	wui.bootstrapped.popularcities = ["10001.11.99999","00000.1.03772","60290.1.99999","02108.1.99999","77001.1.99999","94102.1.99999"];
}
</script>
<script>
wui.bootstrapped.ads = {
	interval: 300000,
	enableAdRefresh: 1,
	ugc: false
};
</script>
	<script>
	var pwidget_config = {
  copypaste: false,
  shareQuote: false,
		defaults: {
		afterShare: false,
  afterShareText: false,
  shareAgain: false
		}
  };
</script>
	<script>
		if (sessionStorage.getItem("partner") !== null) {
		var link_partner = sessionStorage.getItem('partner');
		}
		else {
		var link_partner = "";
		}
	 window.Adomik = window.Adomik || {};
	 Adomik.randomAdGroup = function() {
	 var rand = Math.random();
	 switch (false) {
	 case !(rand < 0.09): return "ad_ex" + (Math.floor(100 * rand));
	      case !(rand < 0.10): return "ad_bc";
	      default: return "ad_opt";
	    }
	  };
	</script>
		<img src="//www.wunderground.com/tag.php?ViewTarget_1=0.5" style="display: none;" />
		<script>
		var crtg_nid="1458";
		var crtg_cookiename="cto_wun";
		var crtg_varname="crtg_content";
		function crtg_getCookie(c_name){ var i,x,y,ARRCookies=document.cookie.split(";");for(i=0;i<ARRCookies.length;i++){x=ARRCookies[i].substr(0,ARRCookies[i].indexOf("="));y=ARRCookies[i].substr(ARRCookies[i].indexOf("=")+1);x=x.replace(/^\s+|\s+$/g,"");if(x==c_name){return unescape(y);}}return'';}
				var crtg_content = crtg_getCookie(crtg_cookiename);var crtg_rnd=Math.floor(Math.random()*99999999999);
				var crtg_url=location.protocol+'//rtax.criteo.com/delivery/rta/rta.js?netId='+escape(crtg_nid);crtg_url+='&cookieName='+escape(crtg_cookiename);crtg_url+='&rnd='+crtg_rnd;crtg_url+='&varName=' + escape(crtg_varname);
				var crtg_script=document.createElement('script');crtg_script.type='text/javascript';crtg_script.src=crtg_url;crtg_script.async=true;
				if(document.getElementsByTagName("head").length>0)document.getElementsByTagName("head")[0].appendChild(crtg_script);else if(document.getElementsByTagName("body").length>0)document.getElementsByTagName("body")[0].appendChild(crtg_script);
		</script>
		<script src="//c.amazon-adsystem.com/aax2/amzn_ads.js"></script>
		<script>try{amznads.getAds('1004');}catch(e){}</script>
	<script src="//tags.crwdcntrl.net/c/2216/cc.js?ns=_cc2216" id="LOTCC_2216"></script>
<script>
  if (window.innerWidth >= 1025) {
		var ad_unit = "web_wunderground_us";
		var ad_plat = "wund";
		var wfx_id = "B1CC73";
		var pos1 = 'wx_ws';
		var pos1Sizes = [[728,91],[970,90],[970,250]];
		var pos2 = 'wx_300sm';
		var pos2Sizes = [[300,251]];
		var pos3 = 'wx_botldr';
		var pos3Sizes = [[728,91]];
	}
  else if (window.innerWidth >= 768) {
		var ad_unit = 'tablet_wunderground_us';
		var ad_plat = 'wund_tab';
		var wfx_id = "B1CC73";
		var pos1 = 'wx_ws';
		var pos1Sizes = [[728,91],[728,92]];
		var pos2 = 'wx_300sm';
		var pos2Sizes = [[300,251]];
		var pos3 = 'wx_botldr';
		var pos3Sizes = [[728,91],[728,92]];
	}
	else {
		var adLimitMobile = 2;
		var ad_unit = "mobile_smart_wunderground_us";
		var ad_plat = "wund_mw";
		var wfx_id = "5B3739";
		var pos1 = 'mw_p1';
		var pos1Sizes = [[320,51]];
		var pos2 = 'mw_p2';
		var pos2Sizes = [[300,251]];
	}
		var criteo_array = (window['crtg_content']) ? crtg_content.split("|") : null;
		var criteo_list = [];
		window.combined_hash = {};
		for(var i in criteo_array){
		var kv = criteo_array[i].split("=");
		if(kv[1] == 1) {
		criteo_list.push(kv[0]);
		}
		}
		window.combined_hash['cig'] = criteo_list.join(',');
		var amz_keys = (window['amznads']) ? amznads.getKeys() : null;
		if(amz_keys){
		var amz_string = '';
  for (var i = 0; i < amz_keys.length; i++) {
           if(i > 0) {
  amz_string = amz_string + ",";
  }
  amz_string = amz_string + amz_keys[i];
  }
  window.combined_hash['amznslots'] = amz_string;
		}
		var wundermap_layers = "";
		if("" == "on") {
		wundermap_layers = "trop";
		}
	var isEdge = navigator.userAgent.indexOf('Edge') >=0;
	var isOpera = !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
	var isFirefox = typeof InstallTrigger !== 'undefined';
	var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
	var isChrome = !!window.chrome && !isOpera && !isEdge;
	var isIE = /*@cc_on!@*/false || !!document.documentMode;
	var browser_type = null;
	if (isFirefox) {
		browser_type = 'wuff';
	} else if (isSafari) {
		browser_type = 'wusafari';
	} else if (isChrome) {
		browser_type = 'wuchrome'
	} else if (isIE) {
		browser_type = 'wuie';
	} else if (isEdge) {
		browser_type = 'wuedge';
	}
	var ad_placements = [];
		ad_placements.push(["/7646/"+ad_unit+"/local_forecasts/historical", pos1Sizes, "div-gpt-ad-615639597871654305-top", {"pos": pos1, "atf": "1"}]);
	var adNum = 2;
		if ((ad_plat === 'wund') || (ad_plat === 'wund_tab') || (adNum <= adLimitMobile && ad_plat === 'wund_mw')) {
			ad_placements.push(["/7646/"+ad_unit+"/local_forecasts/historical", pos2Sizes, "div-gpt-ad-615639597871654305-2", {"pos": pos2, "atf": "1"}]);
		}
		
		
		
		adNum = 3;
	
	
	
		if ((ad_plat === 'wund') || (ad_plat === 'wund_tab') || (adNum <= adLimitMobile && ad_plat === 'wund_mw')) {
			ad_placements.push(["/7646/"+ad_unit+"/local_forecasts/historical", pos3Sizes, "div-gpt-ad-615639597871654305-bot", {"pos": pos3, "atf": "0"}]);
		}
	
	

	var utag_data = {
		ad_placements : ad_placements,
		ad_unit : "/7646/"+ad_unit+"/local_forecasts/historical",
		platform : ad_plat,
		preempt : "y",
	
		site : "www",
	
	
	
	
	
		exclude : "wund",
	
	
	
		page_view : "1",
	
	
		partner : link_partner,
		ad_group : Adomik.randomAdGroup(),
	
	
	
		
	
		entry : "city",
	
		
	
		
	
		
	
		
	
		
	
		
	
		language : "EN",
	
		locale : "EN_nl",
	
		temperature : "",
	
		temperature_range : "icy",
	
		
	
		
	
		
	
		
	
		
	
		condition : "no_match",
	
		
	
		
	
		forecast_high_range : "icy",
	
		
	
		forecast_low_range : "icy",
	
		forecast_day_1 : "no_match",
	
		forecast_day_2 : "no_match",
	
		forecast_day_3 : "no_match",
	
		barometer : "stdy",
	
		weather_fx : "",
		weather_fx_zcs : "",
		weather_fx_nzcs : "",
		ad_bidding : combined_hash,
	
		page_name : "HistoryIndex: /local_forecasts/historical",
		channel : "History",
		content_type : "Other Content",
		sub_section : "History > HistoryIndex",
		events : "",
		search_type : "other",
		page : "HistoryIndex",
		category : "History",
		browser_type : browser_type,
		sharing : "post",
		display_ads : "yes",
		ssl_page : "no",
		member_pws : "0",
		member_webcam : "0",
		member_translator : "0",
		member_approver : "0",
		member_zealot : "0",
		member_moderator : "0",
		member_favorites : "0",
		ad_blocker : window.noAdBlocker ? "no" : "yes",
		member_type : "non-member"
	}
</script>
		<script>
		(function($) {
		var wfx_url = '//triggers1.wfxtriggers.com/json/?resp_type=json&acctid=' + wfx_id + '&current=true&df=1,2,3&zcs=&nzcs=';
		$.ajax({
		url: wfx_url,
		dataType: 'jsonp',
		cache: true,
		type: 'GET',
		timeout: 5000,
		success: function(data) {
		if (data && data.wfxtg) {
		var types = ['zcs', 'hzcs', 'nzcs'];
		if (data.wfxtg.current) {
		utag_data.weather_fx = data.wfxtg.current.join(',');
		}
		if (data.wfxtg.scatterSegs) {
		for (var i = 0, len = data.wfxtg.scatterSegs.length; i < len; i++) {
									var seg = data.wfxtg.scatterSegs[i];
									var type;
									for (var key in seg) {
										if (seg.hasOwnProperty(key)) {
							                type = key;
							            }
									}
	
									if (type.length && seg[type].length && $.inArray(type, types) > -1) {
		var segments = seg[type][0].segments;
		if (segments && segments.length) {
		utag_data['weather_fx_' + type] = segments.join(',');
		}
		}
		}
		}
		}
		},
		error: function(){
		console.log('wfxtriggers failed');
		}
		});
		var url2 = '//ad.crwdcntrl.net/5/c=2215/pe=y/callback=?';
		$.ajax({
		url: url2,
		dataType: 'jsonp',
		cache: true,
		type: 'GET',
		timeout: 5000,
		success: function(data) {
		utag_data['lotame_audience'] = '';
		if(data && data.Profile && data.Profile.Audiences && data.Profile.Audiences.Audience) {
		for(var i = 0; i < data.Profile.Audiences.Audience.length; i++) {
								if(i > 0) {
		utag_data['lotame_audience'] = utag_data['lotame_audience'] + ',';
		}
		utag_data['lotame_audience'] = utag_data['lotame_audience'] + data.Profile.Audiences.Audience[i].id;
		}
		}
		utag_data['tpid'] = data && data.Profile && data.Profile.tpid || '';
		if (window._cc2216) {
		if(utag_data.dma) { _cc2216.add("seg", "dma_" + utag_data.dma); }
		if(utag_data.state) { _cc2216.add("seg", "state_" + utag_data.state); }
		if(utag_data.country_code) { _cc2216.add("seg", "country_" + utag_data.country_code); }
		if(utag_data.language) { _cc2216.add("seg", "lang_" + utag_data.language); }
		if(utag_data.temperature) { _cc2216.add("seg", "temp_" + utag_data.temperature); }
		if(utag_data.temperature_range) { _cc2216.add("seg", "tempR_" + utag_data.temperature_range); }
		if(utag_data.pollen) { _cc2216.add("seg", "pollen_" + utag_data.pollen); }
		if(utag_data.humidity) { _cc2216.add("seg", "hum_" + utag_data.humidity); }
		if(utag_data.condition) { _cc2216.add("seg", "cond_" + utag_data.condition); }
		if(utag_data.forecast_high_imcrement) { _cc2216.add("seg", "tempH_" + utag_data.forecast_high_imcrement); }
		if(utag_data.forecast_high_range) { _cc2216.add("seg", "tempHR_" + utag_data.forecast_high_range); }
		if(utag_data.forecast_low_increment) { _cc2216.add("seg", "tempL_" + utag_data.forecast_low_increment); }
		if(utag_data.forecast_low_range) { _cc2216.add("seg", "tempLR_" + utag_data.forecast_low_range); }
		if(utag_data.forecast_day_1) { _cc2216.add("seg", "fc1_" + utag_data.forecast_day_1); }
		if(utag_data.forecast_day_2) { _cc2216.add("seg", "fc2_" + utag_data.forecast_day_2); }
		if(utag_data.forecast_day_3) { _cc2216.add("seg", "fc3_" + utag_data.forecast_day_3); }
		if(utag_data.barometer) { _cc2216.add("seg", "baroTendency_" + utag_data.barometer); }
		_cc2216.bcp();
		}
		},
		error: function(){
		console.log('lotame adcontrol failed');
		}
		});
		})(jQuery);
		</script>
	<script>
		(function(a,b,c,d){
		a='//tags.tiqcdn.com/utag/weather/wunderground/prod/utag.js';
		b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
		a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
		})();
	</script>
		<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
		FB.init({
		appId : wui.facebook.app_id,
		channelUrl : wui.facebook.channel_url,
		status : true,
		cookie : true,
		xfbml : true,
		version : 'v2.0'
		});
		wui.facebook.on_load_trigger();
		};
		(function(d){
		var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement('script'); js.id = id; js.async = true;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		ref.parentNode.insertBefore(js, ref);
		}(document));
	</script>
	</body>
</html>
